<!--Custom: Delivery date day picker--> 

{{ '//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' | stylesheet_tag }}
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" defer="defer"></script>

  <div style="width:300px; clear:both;">
    <p>
      <label for="date">Pick a delivery date:</label>
      <input id="date" type="text" name="attributes[Delivery Date]" value="{{ cart.attributes.date }}" />
      <span style="display:block" class="instructions"> All orders will be delivered between 9am and 6pm</span>
    </p>
  </div>

  <script>
    
    //Our current delivery days. 1=Monday 4=Thursday
    const deliveryDates = [1,4];
    
    // Min days to order before next delivery
    const cutoff_days = 3;
    
    window.onload = function() {
      if (window.jQuery) {
        let $ = window.jQuery;

        $(function() {
          $("#date").datepicker({
            minDate: cutoff_days, 
            maxDate: '+2W',
            dateFormat: "dd/mm/yy",
            beforeShowDay:  function (date) {
              if ($.inArray(date.getDay(), deliveryDates) != -1) {
                return [true, ''];
              } else {
                return [false, ''];
              }}
          });
          
          $('#date').attr('readonly','readonly');
          
          // Set default to the upcoming available date
          const today = new Date();
          const upcomingDeliveryDate = new Date();
          const daysToSum = determineDaysToSum();
          
          
           upcomingDeliveryDate.setDate(today.getDate() + daysToSum + cutoff_days);
          //console.log('date! ' + upcomingDeliveryDate); 
           $("#date").datepicker("setDate", upcomingDeliveryDate);

          
          
        });
        
        
          
        function determineDaysToSum () {
          const today = new Date();
          const currentDay = today.getDay();
          
          const aux = currentDay + cutoff_days;
          let aux2 = aux;
          
          // Check if the calculated day falls in one of the delivery dates. If yes, then use that
          let search = $.inArray(aux2, deliveryDates);
          if (search != -1) {
            return 0;
          }
          
          // Check if calculated day > max in array, in that case pick the first day of next week
          if (aux2 > Math.max(...deliveryDates)) {
            let selected = Math.min(...deliveryDates);
          	return 7 - aux2 + selected;  
          }
          
          // If none of the conditions above match, iterate through available days and find the closest one          
          for (let i = 0; i < deliveryDates.length; i++){
            if (aux2 <= deliveryDates[i]) {
              return deliveryDates[i] - aux2;
            }
          }
          
        }
        
      }
    }
</script>
<!--Custom: Time picker--> 
<!--   <div style="width:300px; clear:both;">
<p class="cart-attribute__field">
  <label>Delivery Time</label><br>
  <select required class="required" id="delivery-time" name="attributes[Delivery Time]" value="{{ cart.attributes.time }}">
    <option value="12:00 AM - 7:00 AM"{% if cart.attributes["Delivery Time"] == "12:00 AM - 7:00 AM" %} selected{% endif %}>12:00 AM - 7:00 AM</option>
    <option value="8:00 AM - 5:00 PM"{% if cart.attributes["Delivery Time"] == "8:00 AM - 6 PM" %} selected{% endif %}>8:00 AM - 5:00 PM</option>
  </select>
</p>
</div> -->

{% style %}
.ui-datepicker {
	font-family: Poppins, sans-serif;
	background: #ffffff;
}

.ui-datepicker-header {
	background: #000000;
	font-weight: 400;
}

.ui-datepicker-prev, .ui-datepicker-next {
	background-color: white;
	opacity: 100;
}

.ui-datepicker-title {
	color: #ffffff;
}

.ui-datepicker-calendar .ui-state-default {
	color: #000000;
	background: #ffffff;
	border-color: #ffffff;
	text-align: center;
}

.ui-datepicker-calendar .ui-state-active {
	background: #000000;
	color: #ffffff;
}
.ui-datepicker-calendar .ui-state-hover {
	background: #CEF0D4;
	color: #000000;
}


input, select {
	font-family: Poppins;
	font-size: 1.6rem;
	line-height: 1.5;
	letter-spacing: 0.04rem;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: rgb(var(--color-foreground));
	width: 100%;
	box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 0.55);
	height: 4.5rem;
	box-sizing: border-box;
	transition: box-shadow var(--duration-short) ease;
	padding-left: 15px;
}
select {
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
	background-position:
		calc(100% - 20px) calc(1em + 2px),
		calc(100% - 15px) calc(1em + 2px),
		calc(100% - 2.5em) 0.5em;
	background-size:
		5px 5px,
		5px 5px,
		1px 1.5em;
  	background-repeat: no-repeat;
}
{% endstyle %}