{% assign addressSplit = collection.description | strip_newlines | split: '</h5>' %}
{% assign promoSplit = addressSplit[1] | split: '<h3' %}

<div style="{%- if section.settings.has_sections_below -%}margin-bottom: -5rem{% endif %}">
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Restaurant",
    "name": "{{ collection.title }}",
    "description": "{{ promoSplit[0] | strip_html }}",
    "address": "{{ addressSplit[0] | strip_html }}",
    "hasMenu": "{{ shop.url | append: collection.url }}"
  }
  </script>
</div>

{% schema %}
  {
    "name": "t:sections.main-collection-structured-data.name",
    "settings": [
      {
        "type": "checkbox",
        "id": "has_sections_below",
        "default": false,
        "label": "t:sections.main-collection-structured-data.settings.has_sections_below.label"
      }
	]
  }
{% endschema %}
