{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

<div class="collection-hero">
  <div class="collection-hero__inner page-width">
    <div class="collection-hero__text-wrapper">
      <h1 class="collection-hero__title">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-title.name",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-title.settings.paragraph.content"
    }
  ]
}
{% endschema %}
