{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

<div class="collection-hero">
  <div class="collection-hero__inner page-width">
    <div class="collection-hero__text-wrapper">
      <div class="collection-hero__description rte">{{ collection.description }}</div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-description.name",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-description.settings.paragraph.content"
    }
  ]
}
{% endschema %}
